.home{
  background color:red;
  margin :50px;
  border:1px red;
  padding: 25px 50px 75px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.one img{
  float: left;
  width: 150px;
  height: 150px;
}

.one h3{
  position: relative;
  top: 18px;
  left: 10px;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  background-color:Tomato;
  margin:auto;
  box-sizing: border-box;

}



input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.COMMENTS{
  border: 1px solid #888;
 resize: none;
 overflow: auto;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  }

/*@media screen and (min-width: 800px) and (max-width: 950px){
   .grid {
     display: grid;
     grid-template-columns: 1fr repeat(2, minmax(auto,25em)) 1fr;
  background-color:white;

    }*/

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}