.gnu{
  height: 300px;
  width: 400px;
}

#rs{
  font: "Times New Roman";
   font-size: 1em;
   font-style: oblique;
   color: rgb(232, 47, 18);
}

#lk{
  font: "Times New Roman";
   font-size: 1em;
   font-style: italic;
   color:green;
}
