<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://github.com/kurianbenoy" class="btn"> GitHub</a>
  <a href="https://www.linkedin.com/in/kurian-benoy-75642b120/" class="btn">LinkedIn</a>
  <a href="https://medium.com/@kurianbenoy1998" class="btn">Medium</a>
  <a href="https://docs.google.com/document/d/1fPJ_S1Vq6kFsbJcfo4zEIMRNyWIgyvK2RiVOs9e_grg/edit?usp=sharing" class="btn" download>Resume</a>
</section>
